.center {
  text-align: center;
}
ion-card {
  height: 100%;
}
.content-tiny {
  padding: 4px;
}
.containerTbl {
  overflow-x: none;
  overflow-y: scroll;
  height: 60vh;
  margin: 0 auto;
  --overflow: auto;
}
.itemss {
  border: 1px solid var(--color-bordes);
}
.col-table,
ion-segment {
  height: 100%;
}
table {
  text-align: left;
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  padding: 5px 20px;
}
th {
  text-align: center;
  font-weight: bold;
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
}
thead {
  border-bottom: solid 3px;
  position: sticky;
  position: -webkit-sticky;
  --position: sticky;
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
  top: 0;
  z-index: 100;
}
ion-card-content {
  color: black;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  ion-card-content {
    color: white;
  }
}
