<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content class="content-tiny">
      <ion-grid>
        <ion-row>
          <ion-col size="10" size-lg="4"> </ion-col>
          <ion-col size="12" size-lg="4">
            <ion-item class="itemss">
              <ion-label position="fixed">Buscar</ion-label>
              <ion-input
                size="small"
                type="text"
                [(ngModel)]="param"
                maxlength="50"
                (ionChange)="getTrabajadores()"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-lg="4" class="center btn-mg">
            <!-- <ion-button
              color="tertiary"
              fill="clear"
              color="success"
              class="btn-exportar"
            >
              <img src="assets/iconExcel.png" />EXCEL
            </ion-button>
            <ion-button
              color="tertiary"
              fill="clear"
              color="danger"
              class="btn-exportar"
            >
              <img src="assets/iconPdf.png" />PDF
            </ion-button> -->
          </ion-col>
          <ion-col size="12" class="col-table">
            <ion-segment scrollable>
              <div class="containerTbl">
                <table class="center">
                  <thead>
                    <tr>
                      <th>DNI</th>
                      <th class="title-tra">Trabajador</th>
                      <th>Cargo</th>
                      <th>Covid_19</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of usuarios">
                      <td>{{ item.dni }}</td>
                      <td>{{ item.nombre }}</td>
                      <td>{{ item.perfil }}</td>
                      <td>
                        <ion-item>
                          <ion-toggle
                            mode="ios"
                            (ionChange)="cambiarEstado(item.id,item.hasCovid)"
                            checked="{{ item.hasCovid }}"
                            color="dark"
                          ></ion-toggle>
                        </ion-item>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
