<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content class="content-tiny">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-row class="content-tiny">
              <form [formGroup]="rangoForm">
                <ion-col size="12" size-lg="3">
                  <ion-item class="ion-no-margin" class="fechas">
                    <ion-label>Inicio</ion-label>
                    <ion-input
                      type="date"
                      min="2020-01-01"
                      [max]="fechaActual | date: 'yyyy-MM-dd'"
                      formControlName="desde"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="3">
                  <ion-item class="ion-no-margin" class="fechas">
                    <ion-label>Fin</ion-label>
                    <ion-input
                      type="date"
                      min="2020-01-01"
                      [max]="fechaActual | date: 'yyyy-MM-dd'"
                      formControlName="hasta"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="1" class="center">
                  <ion-button
                    fill="clear"
                    class="btn-buscar"
                    (click)="buscarRangos()"
                  >
                    <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="3" class="center">
                  <ion-button
                    fill="clear"
                    (click)="exportToExcel()"
                    color="success"
                    [hidden]="returnShowButton()"
                    class="btn-exportar"
                  >
                    <img src="assets/iconExcel.png" />EXCEL
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
                <ion-col size="12" size-lg="3">
                  <ion-item
                    [disabled]="trabajadores === undefined"
                    class="fechas"
                  >
                    <ion-label>Cargo</ion-label>
                    <ion-select
                      (ionChange)="getTrabajadores()"
                      formControlName="tipoTra"
                      interface="popover"
                      class="myCustomSelect"
                    >
                      <ion-select-option value="">Todos</ion-select-option>
                      <ion-select-option
                        *ngFor="let item of prefiles"
                        value="{{item.detalle}}"
                        >{{item.detalle}}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
                <ion-col size="12" size-lg="3">
                  <ion-item
                    [disabled]="trabajadores === undefined"
                    class="fechas"
                  >
                    <ion-label>Buscar</ion-label>
                    <ion-input
                      type="text"
                      maxlength="50"
                      (ionChange)="getTrabajadores()"
                      formControlName="param"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
              </form>
            </ion-row>
          </ion-col>
          <ion-col size="12">
            <ion-row *ngIf="trabajadores !== undefined">
              <ion-col size="12"></ion-col>
              <ion-col size="12" class="center">
                <div class="containerTbl">
                  <table>
                    <thead>
                      <tr>
                        <th>DNI</th>
                        <th class="title-tra">Trabajador</th>
                        <th>Cargo</th>
                        <th class="dias" *ngFor="let item3 of diasTabla">
                          {{ item3 }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of trabajadores">
                        <td>{{ item.dni }}</td>
                        <td class=".title-tra capitalizado">
                          {{ item.nombre }}
                        </td>
                        <td>{{ item.perfil }}</td>
                        <td
                          class="dias"
                          *ngFor="let item2 of diasTabla; let i = index"
                        >
                          <!-- <ion-checkbox
                            disabled=""
                            checked="{{ item.dias.includes(i) }}"
                            color="success"
                          ></ion-checkbox> -->
                          <div
                            *ngIf="item.dias.includes(i) "
                            class="colorSuccess"
                          ></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
