<ion-content class="ion-no-padding">
  <div class="contenedor">
    <div class="banner">
      <img src="assets/fondo-web.png" alt="" />
    </div>
    <div class="login">
      <ion-card class="cartaLogin ion-no-border" color="Shade">
        <ion-card-header class="ion-no-padding">
          <img class="imgBrand" src="./assets/brand.png" />
          <img class="imgLogo" src="./assets/login.png" />
        </ion-card-header>
        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
          <ion-card-content>
            <ion-item class="ion-margin" shape="round">
              <ion-label position="floating">DNI</ion-label>
              <ion-input
                type="tel"
                maxlength="8"
                formControlName="dni"
              ></ion-input>
              <ion-text
                slot="error"
                *ngIf="formularioLogin.get('dni').touched && formularioLogin.controls.dni.errors?.required"
                color="danger"
                >Debe completar el formulario</ion-text
              >
              <ion-text
                slot="error"
                *ngIf="formularioLogin.get('dni').touched && (formularioLogin.controls.dni.errors?.['minlength'] || formularioLogin.controls.dni.errors?.['maxlength'] )"
                color="danger"
              >
                El DNI debe tener 8 dígitos</ion-text
              >
              <ion-text
                slot="error"
                *ngIf="formularioLogin.get('dni').touched && formularioLogin.controls.dni.errors?.pattern"
                color="danger"
                >Solo puede ingresar números</ion-text
              >
            </ion-item>
            <ion-item class="ion-margin" shape="round">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input
                maxlength="16"
                formControlName="password"
                [type]="hide?'password':'text'"
              >
              </ion-input>
              <span
                slot="end"
                (click)="hide = !hide"
                [title]="!hide ? 'Ocultar Contraseña':'Mostrar Contraseña'"
              >
                <ion-icon
                  class="ion-margin-top"
                  [name]="hide?'eye':'eye-off'"
                ></ion-icon>
              </span>
              <ion-text
                *ngIf="formularioLogin.get('password').touched && formularioLogin.controls.password.errors?.required"
                color="danger"
                >Debe completar el formulario</ion-text
              >
            </ion-item>
            <br />
            <ion-item color="light-shade" lines="none">
              <ion-label class="textCheck">Recordar Credenciales</ion-label>
              <ion-checkbox
                formControlName="recordar"
                slot="start"
              ></ion-checkbox>
            </ion-item>
            <br />
            <ion-button class="btnLogin" expand="block" type="submit">
              <ion-icon name="log-in-outline"></ion-icon> Ingresar
            </ion-button>
          </ion-card-content>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
