.ion-item p {
  text-align: right;
}
.imgLogo {
  width: 150px;
  margin: 0 auto;
}
.centerText {
  text-align: center !important;
}
.labelCheck {
  margin-left: 15px;
}
.btn-enviar {
  margin: 0.8rem auto;
}
ion-card-content {
  padding: 5px;
}
.labelCheck {
  font-size: 0.88rem;
}
@media screen and (min-width: 600px) {
  ion-card {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
  }
}
@media screen and (min-width: 900px) {
  ion-card {
    margin-left: 13rem !important;
    margin-right: 13rem !important;
  }
}
