<ion-content>
  <ion-item>
    <p slot="start">
      <ion-icon name="calendar-outline"></ion-icon>
      {{ myVar | date: 'dd/MM/yy hh:mm a' }}
    </p>
    <ion-buttons slot="end">
      <ion-button routerLink="/control/principal">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centerText">
        <img src="./assets/brand.png" class="imgLogo" /><br />
        Seguimiento COVID-19
      </ion-card-title>
      <ion-card-subtitle class="centerText">
        Las respuestas vertidas en este formulario son confidenciales y privadas
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <form [formGroup]="reporteForm" (ngSubmit)="save()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sintomatología</ion-card-title>
        <ion-card-subtitle> Señale sus síntomas </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of sintomas;let i =index">
            <ion-checkbox
              [value]="item.sintomaId"
              (ionChange)="onChangeBoxSintomas($event)"
            ></ion-checkbox>
            <ion-label class="labelCheck"> {{item.detalle}}</ion-label>
          </ion-item>
          <ion-item *ngIf="reporteForm.get('sintomasss').value.includes(14)">
            <ion-label position="stacked">Inserte su síntoma</ion-label>
            <ion-input type="text" formControlName="anotherSint"></ion-input>
          </ion-item>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('sintomasss').touched && reporteForm.controls.sintomasss.errors?.required"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label position="floating">
              Digite su temperatura Actual
            </ion-label>
            <ion-input formControlName="temp" type="text"></ion-input>
            <ion-text
              *ngIf="reporteForm.get('temp').touched && reporteForm.controls.temp.errors?.required"
              slot="error"
              color="danger"
              >Debe digitar su temperatura</ion-text
            >
            <ion-text
              *ngIf="reporteForm.get('temp').touched && (reporteForm.controls.temp.errors?.min ||  reporteForm.controls.temp.errors?.max)"
              slot="error"
              color="danger"
              >La temperatura debe oscilar entre 30 a 41 °C</ion-text
            >
            <ion-text
              *ngIf="reporteForm.get('temp').touched && (reporteForm.controls.temp.errors?.min ||  reporteForm.controls.temp.errors?.pattern)"
              slot="error"
              color="danger"
              >Solo se pueden colocar números en este input</ion-text
            >
          </ion-item>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Signos de Alarma</ion-card-title>
        <ion-card-subtitle> Señale los signos que presenta </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of signos;let i =index">
            <ion-checkbox
              (ionChange)="onChangeBoxSignos($event)"
              [value]="item.signoId"
            ></ion-checkbox>
            <ion-label class="labelCheck"> {{ item.detalle }}</ion-label>
          </ion-item>
          <ion-item *ngIf="reporteForm.get('signosss').value.includes(6)">
            <ion-label position="stacked">Inserte su Signo de Alarma</ion-label>
            <ion-input type="text" formControlName="anotherSig"></ion-input>
          </ion-item>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('sintomasss').touched && reporteForm.controls.sintomasss.errors?.required"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label position="floating">
              Comentario u observación respecto a su estado de salud
            </ion-label>
            <ion-input formControlName="comentario" type="text"></ion-input>
          </ion-item>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-item>
      <ion-button type="submit" size="medium" class="btn-enviar" color="success"
        ><ion-icon name="send-outline"></ion-icon> Enviar reporte</ion-button
      >
    </ion-item>
  </form>
</ion-content>
