<ion-content>
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col size="10">
          <ion-card-title class="ion-text-center"
            >Ingreso de nuevo trabajador</ion-card-title
          >
          <ion-card-subtitle class="ion-text-center"
            >Por favor rellene todos los campos</ion-card-subtitle
          >
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <ion-button class="cancelBtn" (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="agregarForm">
        <ion-list>
          <ion-item class="ion-margin" *ngFor="let item of inputs">
            <ion-label position="floating">{{ item.title }}</ion-label>
            <ion-input
              [type]="item.type"
              [formControlName]="item.nameForm"
              [maxlength]="item.maximo"
            ></ion-input>
            <ion-text
              slot="error"
              *ngIf="
                agregarForm.get(item.nameForm).touched &&
                agregarForm.get(item.nameForm).errors?.required
              "
              color="danger"
              >Debe completar el formulario</ion-text
            >
            <ion-text
              slot="error"
              *ngIf="
                agregarForm.get(item.nameForm).touched &&
                agregarForm.get(item.nameForm).errors?.pattern
              "
              color="danger"
              >Solo puede ingresar números</ion-text
            >
            <ion-text
              slot="error"
              *ngIf="
                agregarForm.get(item.nameForm).touched &&
                agregarForm.get(item.nameForm).errors?.email
              "
              color="danger"
              >El campo Correo debe tener la forma: example@mail.com</ion-text
            >
          </ion-item>
          <ion-item class="ion-margin">
            <ion-label position="floating">Cargo</ion-label>
            <ion-select
              interface="popover"
              (ionDismiss)="$event.stopPropagation()"
              formControlName="perfilId"
            >
              <ion-select-option
                *ngFor="let item of prefiles"
                value="{{ item.id }}"
                >{{ item.detalle }}</ion-select-option
              >
            </ion-select>
            <ion-text
              slot="error"
              *ngIf="
                agregarForm.get('perfilId').touched &&
                agregarForm.get('perfilId').errors?.required
              "
              color="danger"
              >Debe completar el formulario</ion-text
            >
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="btnSave" (click)="save()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Guardar Registro
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
