.containerTbl {
  overflow-x: none;
  overflow-y: scroll;
  height: 50vh;
  margin: 0 auto;
  --overflow: auto;
}
table {
  text-align: left;
  border-collapse: collapse;
  margin: 0px auto;
}
th,
td {
  padding: 5px 15px;
  border: 1px ridge var(--color-bordes);
}
th {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-azul);
  background: var(--ion-color-light);
  font-weight: bold;
}
thead {
  border-bottom: solid 3px;
  position: sticky;
  position: -webkit-sticky;
  --position: sticky;
  color: var(--color-azul);
  background: var(--ion-color-light);
  top: 0;
  z-index: 100;
}
.center {
  text-align: center;
}
ion-grid,
.content-tiny {
  margin: 0;
  padding: 5px;
}
ion-card-content {
  color: black;
}
form {
  display: contents;
}
@media (prefers-color-scheme: dark) {
  ion-card-content {
    color: white;
  }
}
ion-checkbox {
  opacity: 1;
}
.noCompleted {
  opacity: 1;
}
.col-mg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-tra {
  width: 300px;
}
