<ion-content class="ion-padding">
  <ion-grid>
    <ion-card>
      <ion-card-content class="content-tiny">
        <ion-row>
          <ion-col size="12" size-lg="2">
            <ion-item class="item">
              <ion-label>DIA: </ion-label>
              <ion-input
                disabled
                value="{{ fechaActual | date: 'dd/MM/yyyy' }}"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
          <form [formGroup]="diaForm" (ngSubmit)="buscarPeriodo()">
            <ion-col size="12" size-lg="4">
              <ion-row class="ion-no-padding">
                <ion-col size="9" class="ion-no-padding">
                  <ion-item class="item">
                    <ion-label [hidden]="diaForm.get('dia').value !== ''"
                      >Día</ion-label
                    >
                    <ion-input
                      type="date"
                      min="2020-01-01"
                      [max]="fechaActual | date: 'yyyy-MM-dd'"
                      placeholder="Fecha Inicio"
                      formControlName="dia"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="3" class="ion-no-padding">
                  <ion-button type="submit" fill="clear">
                    <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="12" size-lg="3">
              <ion-item>
                <ion-label>Buscar</ion-label>
                <ion-input
                  type="text"
                  maxlength="50"
                  (ionChange)="getTrabajadores()"
                  formControlName="param"
                ></ion-input>
              </ion-item>
            </ion-col>
          </form>
          <ion-col size="12" size-lg="3" class="center">
            <ion-button
              fill="clear"
              color="success"
              class="btn-mg"
              [hidden]="returnShowButton()"
              (click)="exportToExcel()"
            >
              <img src="assets/iconExcel.png" alt="" />
              EXCEL
            </ion-button>
            <ion-button
              fill="clear"
              color="danger"
              [hidden]="returnShowButton()"
              (click)="exportToPdf()"
              class="btn-mg"
            >
              <img src="assets/iconPdf.png" />PDF
            </ion-button>
          </ion-col>
          <ion-col size="12" size-md="3">
            <ion-item class="item">
              <ion-label>Fecha consultada: </ion-label>
              <ion-input
                disabled
                value="{{ fechaConsul | date: 'dd/MM/yyyy' }}"
                type="text"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-md="6"> </ion-col>
          <ion-col size="12" size-md="3">
            <ion-button
              (click)="sendPush()"
              expand="block"
              fill="clear"
              shape="round"
            >
              Enviar Recordatorio
            </ion-button>
          </ion-col>
          <ion-col size="12" class="col-mg">
            <div class="containerTbl">
              <table id="excel-table" class="table">
                <thead>
                  <tr>
                    <th>DNI</th>
                    <th class="title-tra">Trabajador</th>
                    <th>Cargo</th>
                    <th>Estado</th>
                    <th>Descripción</th>
                    <th>Consultar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data">
                    <td>{{ item.dni }}</td>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.perfil }}</td>
                    <td>
                      <ion-checkbox
                        disabled=""
                        [checked]="item.estado !== 0"
                        [color]="returnColor(item.estado)"
                      ></ion-checkbox>
                    </td>
                    <td>{{item.descripcion}}</td>
                    <td>
                      <ion-button
                        *ngIf="item.estado !== 0"
                        (click)="goReceiver(item.id)"
                        expand="block"
                        color="success"
                        fill="clear"
                        shape="round"
                      >
                        Ver Detalle
                      </ion-button>
                      <ion-button
                        *ngIf="(item.estado === 0)"
                        expand="block"
                        fill="clear"
                        class="noCompleted"
                        disabled=""
                        color="danger"
                        shape="round"
                      >
                        No completado
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
