.btnEditar {
  --background: var(--color-verde);
}
.login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ion-card-header {
  text-align: center;
}
.cartaLogin {
  width: 80%;
  margin: 10px auto;
  box-shadow: none;
}
.imgLogo {
  width: 120px;
  margin: 0 auto;
  display: block;
}
ion-card-content {
  text-align: center;
}
.imgBrand {
  width: 306px;
  margin: 0 auto;
  display: block;
}
.btnLogin {
  margin: 0 auto;
  --background: var(--color-verde);
}
.btnOut {
  margin: 0 auto;
  --background: var(--color-rojo);
}
.textCheck {
  white-space: normal;
}
ion-icon {
  pointer-events: none;
}
.titleChange {
  --color: var(--color-azul);
}
form {
  display: contents;
}
@media screen and (max-width: 800px) {
  .login {
    width: 100%;
  }
}
