<ion-content *ngIf="!changePass">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{mensaje}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="perfilForm">
        <ion-item
          *ngFor="let item of dibujarForm()"
          class="ion-margin-horizontal"
        >
          <ion-label>{{item.nombre}}</ion-label>
          <ion-input
            *ngIf="item.nombre!=='Dni'"
            [disabled]="disabled"
            [type]="item.type"
            formControlName="{{item.formcontrol}}"
          ></ion-input>
          <ion-input
            *ngIf="item.nombre==='Dni'"
            [disabled]="disabledDni"
            [type]="item.type"
            formControlName="{{item.formcontrol}}"
          ></ion-input>
          <ion-text
            slot="error"
            *ngIf="getError(item.formcontrol)"
            color="danger"
            >Error en el formulario</ion-text
          >
        </ion-item>
        <ion-button
          *ngIf="!disabled"
          (click)="editarDatos()"
          expand="block"
          class="btnEditar"
          shape="round"
        >
          Modificar datos
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="changePass">
  <ion-card class="cartaLogin ion-no-border" color="Shade">
    <ion-card-header class="ion-no-padding">
      <ion-card-title class="titleChange ion-text-center"
        >Cambio de contraseña</ion-card-title
      >
    </ion-card-header>
    <form [formGroup]="perfilForm" (ngSubmit)="cambiarClave()">
      <ion-card-content>
        <ion-item class="ion-margin" shape="round">
          <ion-label position="floating">Contraseña Antigua</ion-label>
          <ion-input
            maxlength="16"
            formControlName="claveAnterior"
            [type]="hideTemp?'password':'text'"
          >
          </ion-input>
          <span
            slot="end"
            (click)="hideTemp = !hideTemp"
            [title]="!hideTemp ? 'Ocultar Contraseña':'Mostrar Contraseña'"
          >
            <ion-icon
              class="ion-margin-top"
              [name]="hideTemp?'eye':'eye-off'"
            ></ion-icon>
          </span>
          <ion-text
            *ngIf="perfilForm.get('claveAnterior').touched && perfilForm.controls.claveAnterior.errors?.required"
            color="danger"
            >Debe completar el formulario</ion-text
          >
        </ion-item>
        <ion-item class="ion-margin" shape="round">
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input
            maxlength="16"
            formControlName="claveNueva"
            [type]="hideNew?'password':'text'"
          >
          </ion-input>
          <span
            slot="end"
            (click)="hideNew = !hideNew"
            [title]="!hideNew ? 'Ocultar Contraseña':'Mostrar Contraseña'"
          >
            <ion-icon
              class="ion-margin-top"
              [name]="hideNew?'eye':'eye-off'"
            ></ion-icon>
          </span>
          <ion-text
            *ngIf="perfilForm.get('claveNueva').touched && perfilForm.controls.claveNueva.errors?.required"
            color="danger"
            >Debe completar el formulario</ion-text
          >
        </ion-item>
        <ion-item class="ion-margin" shape="round">
          <ion-label position="floating">Repetir Contraseña</ion-label>
          <ion-input
            maxlength="16"
            formControlName="confirm"
            [type]="hideRepeat?'password':'text'"
          >
          </ion-input>
          <span
            slot="end"
            (click)="hideRepeat = !hideRepeat"
            [title]="!hideRepeat ? 'Ocultar Contraseña':'Mostrar Contraseña'"
          >
            <ion-icon
              class="ion-margin-top"
              [name]="hideRepeat?'eye':'eye-off'"
            ></ion-icon>
          </span>
          <ion-text
            *ngIf="perfilForm.get('confirm').touched && perfilForm.controls.confirm.errors?.required"
            color="danger"
            >Debe completar el formulario</ion-text
          >
        </ion-item>
        <ion-button class="btnLogin" expand="block" type="submit">
          <ion-icon name="log-in-outline"></ion-icon> Cambiar Contraseña
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
