.colorfull {
  --background: rgb(22, 139, 100);
  --background: linear-gradient(
    90deg,
    rgba(22, 139, 100, 1) 38%,
    rgba(29, 141, 199, 1) 100%
  );
}
ion-title {
  --color: #fff;
}
ion-toolbar {
  --min-height: 40px;
}
