<ion-header>
  <ion-toolbar class="colorfull ion-text-center">
    <ion-title>{{ mensaje }}</ion-title>
    <ion-button fill="clear" (click)="back()" color="dark" slot="end">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button mode="ios"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">
      <ion-icon id="hover-popover" name="person-sharp"></ion-icon>
      {{ obtenerUsuario() }}
    </ion-title>

    <ion-button
      (click)="logout()"
      color="danger"
      expand="block"
      fill="clear"
      slot="end"
      shape="round"
    >
      Salir
    </ion-button>
  </ion-toolbar>
</ion-header>
