.imgLogo {
  width: 120px;
  margin: 0 auto;
}
.centerText {
  text-align: center !important;
}
.btn-principal {
  width: 50%;
  margin: 0 auto;
}
.btnForm {
  --color: var(--color-azul);
}
.btnReportes {
  --color: var(--color-verde);
}
.btnCompleted {
  --background: var(--color-rojo);
}
@media screen and (min-width: 700px) {
  ion-card,
  ion-grid {
    margin-left: 150px !important;
    margin-right: 150px !important;
  }
}
