<ion-content *ngIf="verifyLogin()!==null">
  <ion-card color="light-shade">
    <ion-card-header>
      <ion-card-title class="centerText">
        <img src="./assets/login.png" class="imgLogo" /><br />
      </ion-card-title>
      <ion-card-subtitle class="centerText">
        IDE Solution te recuerda:
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card *ngIf="!verificarCovid()">
    <ion-card-header>
      <ion-card-title>Sigamos cuidándonos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b>
        Para cuidar tu salud, cumple las medidas preventivas ante las nuevas
        variantes de la Covid 19. IDE Solution te recomienda:
      </b>
      <ul>
        <li>Mantener el distanciamiento social de mínimo 1.5 metros.</li>
        <li>Evitar lugares concurridos.</li>
        <li>Uso de doble mascarilla o mascarilla KN95 en todo momento.</li>
        <li>
          Abre completamente tus ventanas, mantén tus espacios ventilados.
        </li>
        <li>Lavarse las manos con frecuencia.</li>
        <li>Cumplir con el esquema de vacunación.</li>
        <li>
          Evitar reuniones festivas, procura mantenerte en tu círculo familiar
          cercano.
        </li>
      </ul>
      Para más información llama gratis al <b>113</b> Salud.
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="verificarCovid()">
    <ion-card-header>
      <ion-card-title>Sigamos cuidándonos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b> IDE Solution te da las siguientes recomendaciones: </b>
      <ul>
        <li>
          <b>ALIMÉNTATE:</b> Alimentos ricos en proteínas, además de frutas y
          verduras.
        </li>
        <li><b>HIDRÁTATE:</b> Al menos 08 vasos al día.</li>
        <li><b>REPOSA:</b> Reduce tus actividades al mínimo.</li>
        <li><b>Controlar</b> tu temperatura y saturación.</li>
        <li><b>No</b> te automediques.</li>
      </ul>
      Para más información llama gratis al <b>113</b> Salud.
    </ion-card-content>
  </ion-card>
</ion-content>
