<app-header [mensaje]="obtenerMensaje()"></app-header>
<ion-menu side="start" id="menuId" contentId="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>
        <img class="imgBanner" src="/assets/login.png" alt="" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <div *ngFor="let item of retonarMenus()">
        <ion-item
          lines="none"
          *ngIf="item.ruta"
          (click)="closeMenu()"
          routerLink="{{item.ruta}}"
        >
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          <ion-label>{{item.nombre}}</ion-label>
        </ion-item>
        <ion-item
          lines="none"
          *ngIf="item.children.length > 0"
          (click)="item.open = !item.open"
          [class.active-parent]="item.open"
          detail="false"
        >
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          <ion-label>{{item.nombre}}</ion-label>
          <ion-icon
            *ngIf="!item.open"
            name="chevron-down"
            slot="end"
          ></ion-icon>
          <ion-icon *ngIf="item.open" name="chevron-up" slot="end"></ion-icon>
        </ion-item>
        <ion-list *ngIf="item.open">
          <ion-menu-toggle>
            <ion-item
              style="padding-left: 20px"
              *ngFor="let sub of item.children"
              [routerLink]="[sub.ruta]"
              (click)="closeMenu()"
            >
              <ion-icon slot="start" [name]="sub.icon"></ion-icon>
              <ion-label class="menu-name"> {{sub.nombre}} </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-content>
