<ion-content>
  <ion-item>
    <p slot="start">
      <ion-icon name="calendar-outline"></ion-icon>
      {{ myVar | date: 'dd/MM/yy hh:mm a' }}
    </p>
    <ion-buttons slot="end">
      <ion-button routerLink="/principal">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centerText">
        <img src="./assets/brand.png" class="imgLogo" /><br />
        Seguimiento COVID-19
      </ion-card-title>
      <ion-card-subtitle class="centerText">
        Las respuestas vertidas en este formulario son confidenciales y privadas
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <form [formGroup]="reporteForm" (ngSubmit)="save()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sintomatología</ion-card-title>
        <ion-card-subtitle> Señale sus síntomas </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of sintomas; let i =index">
            <ion-checkbox
              [value]="item.sintomaId"
              (ionChange)="onChangeBoxSintomas($event)"
            ></ion-checkbox>
            <ion-label class="labelCheck"> {{item.detalle}}</ion-label>
          </ion-item>
          <ion-item *ngIf="reporteForm.get('sintomasss').value.includes(14)">
            <ion-label position="stacked">Inserte su síntoma</ion-label>
            <ion-input
              type="text"
              [required]="reporteForm.get('sintomasss').value.includes(14)"
              formControlName="otroDetalle"
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('sintomasss').touched && reporteForm.controls.sintomasss.errors?.required"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          En la última semana ¿Ha tenido contacto con caso sospechoso de
          COVID-19?
        </ion-card-title>
        <ion-card-subtitle>
          Selecciona una de las dos alternativas
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="casoSozpechoso">
            <ion-item>
              <ion-label>Sí</ion-label>
              <ion-radio value="1" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="0" slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('casoSozpechoso').touched && reporteForm.controls.casoSozpechoso.errors?.required"
          slot="error"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          En la última semana ¿Ha tenido contacto con caso confirmado de
          COVID-19?
        </ion-card-title>
        <ion-card-subtitle>
          Selecciona una de las dos alternativas
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="casoConfirmado">
            <ion-item>
              <ion-label>Sí</ion-label>
              <ion-radio value="1" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="0" slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('casoConfirmado').touched && reporteForm.controls.casoConfirmado.errors?.required"
          slot="error"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          En la última semana ¿Ha dado positivo para COVID-19?
        </ion-card-title>
        <ion-card-subtitle>
          Selecciona una de las dos alternativas
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="positivo">
            <ion-item>
              <ion-label>Sí</ion-label>
              <ion-radio value="1" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="0" slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('positivo').touched && reporteForm.controls.positivo.errors?.required"
          slot="error"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title> Registro de vacunación </ion-card-title>
        <ion-card-subtitle>
          Dosis de vacunas contra COVID-19
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="cantDosis">
            <ion-item>
              <ion-label>1</ion-label>
              <ion-radio value="1" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>2</ion-label>
              <ion-radio value="2" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>3</ion-label>
              <ion-radio value="3" slot="start"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>N/A</ion-label>
              <ion-radio value="0" slot="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-text
          *ngIf="reporteForm.get('cantDosis').touched && reporteForm.controls.cantDosis.errors?.required"
          slot="error"
          color="danger"
          >Debe seleccionar una alternativa</ion-text
        >
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-button type="submit" size="medium" class="btn-enviar"
        ><ion-icon name="send-outline"></ion-icon> Enviar reporte</ion-button
      >
    </ion-item>
  </form>
</ion-content>
