ion-content {
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.rotated {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
ion-card {
  width: 40%;
  margin: 0 auto;
  margin-top: 100px;
}
img {
  margin-top: 20px;
}
ion-card-title {
  font-size: 40px;
  font-weight: 900;
}
ion-card-subtitle {
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 700px) {
  ion-card {
    width: 80%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
