<ion-content>
  <ion-card class="center" color="dark-shade">
    <img class="rotated" src="assets/corona.png" />
    <ion-card-header>
      <ion-card-subtitle class="center">
        Esta página no se encuentra en el servidor
      </ion-card-subtitle>
      <ion-card-title class="center">404</ion-card-title>
    </ion-card-header>
    <ion-card-content class="center">
      <ion-button
        (click)="redirectTo()"
        color="tertiary"
        expand="block"
        shape="round"
      >
        <ion-icon slot="start" name="grid"></ion-icon>
        Regresa a la vista principal
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
