<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <form [formGroup]="manageForm"> -->
      <ion-col size="12" size-lg="3">
        <!-- <ion-item [disabled]="trabajadores === undefined" class="fechas">
            <ion-select
              (ionChange)="getTrabajadores()"
              formControlName="tipoTra"
              interface="popover"
              class="myCustomSelect"
            >
              <ion-select-option disabled="" value=""
                >Seleccione Cargo</ion-select-option
              >
              <ion-select-option value="-1">Todos</ion-select-option>
              <ion-select-option
                *ngFor="let item of prefiles"
                value="{{item.detalle}}"
                >{{item.detalle}}</ion-select-option
              >
            </ion-select>
          </ion-item> -->
      </ion-col>
      <ion-col size="12" size-lg="1"></ion-col>
      <ion-col size="12" size-lg="3">
        <!-- <ion-item [disabled]="trabajadores === undefined" class="fechas">
            <ion-label>Buscar</ion-label>
            <ion-input
              type="text"
              maxlength="50"
              (ionChange)="getTrabajadores()"
              formControlName="param"
            ></ion-input>
          </ion-item> -->
      </ion-col>
      <ion-col size="12" sizeLg="1"></ion-col>
      <ion-col size="12" sizeLg="4">
        <ion-button
          (click)="agregarTrabajador()"
          expand="block"
          class="btnAgregar"
          shape="round"
        >
          <ion-icon name="log-in" slot="start"></ion-icon>
          Nuevo Trabajador
        </ion-button>
      </ion-col>
      <!-- </form> -->
      <ion-col size="12" [hidden]="mostrarTabla">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-bordered row-border hover"
        >
          <thead>
            <tr>
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Opciones</span>
              </th>
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">DNI</span>
              </th>
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Nombre Completo</span>
              </th>
              <!-- <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Apellidos</span>
              </th> -->
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Correo</span>
              </th>
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Teléfono</span>
              </th>
              <!-- <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Dirección</span>
              </th> -->
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Cargo</span>
              </th>
              <th class="color_cabecera_tabla">
                <span class="titulo_cabecera">Estado</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of trabajadores">
              <td class="ion-text-center">
                <span
                  slot="end"
                  (click)="editar(item.id)"
                  title="Editar Usuario"
                >
                  <ion-icon
                    slot="start"
                    color="warning"
                    style="font-size: 1rem"
                    name="create-outline"
                  ></ion-icon>
                </span>
                <span
                  slot="end"
                  (click)="eliminar(item.id,item.nombres + ''+item.apellidos,item.estado)"
                  [title]="item.estado ==='Activo'?'Eliminar/Inhabilitar Usuario':'Eliminar/Habilitar Usuario'"
                >
                  <ion-icon
                    color="danger"
                    style="font-size: 1rem"
                    slot="end"
                    name="trash-outline"
                  ></ion-icon>
                </span>
              </td>
              <td class="ion-text-center">{{item.dni}}</td>
              <td class="ion-text-center">
                {{item.nombres}} {{item.apellidos}}
              </td>
              <td class="ion-text-center">{{item.correo}}</td>
              <td class="ion-text-center">{{item.telefono}}</td>
              <!-- <td>{{item.direccion}}</td> -->
              <td class="ion-text-center">{{item.perfil}}</td>
              <td class="ion-text-center">{{item.estado}}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
