<ion-content class="ion-padding" noscrollable>
  <ion-card>
    <ion-card-content class="content-tiny">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-row class="content-tiny">
              <form [formGroup]="periodoForm">
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="2">
                  <ion-item>
                    <ion-label>Mes *</ion-label>
                    <ion-select
                      interface="popover"
                      formControlName="mes"
                      class="myCustomSelect"
                    >
                      <ion-select-option
                        *ngFor="let item of meses; let i =index"
                        value="{{ i+1 }}"
                        >{{ item }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="2">
                  <ion-item>
                    <ion-label>Año *</ion-label>
                    <ion-select
                      interface="popover"
                      class="myCustomSelect"
                      formControlName="anio"
                    >
                      <ion-select-option
                        *ngFor="let item of anios"
                        value="{{ item }}"
                        >{{ item }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="1" class="center">
                  <ion-button
                    fill="clear"
                    class="btn-buscar"
                    (click)="buscarPeriodo()"
                  >
                    <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="12" size-lg="1"></ion-col>
                <ion-col size="12" size-lg="3" class="center">
                  <ion-button
                    fill="clear"
                    (click)="exportToExcel()"
                    [hidden]="returnShowButton()"
                    color="success"
                    class="btn-exportar"
                  >
                    <img src="assets/iconExcel.png" />EXCEL
                  </ion-button>
                  <!-- <ion-button
                    fill="clear"
                    id="pdf"
                    color="danger"
                    (click)="exportPdfPersonal()"
                    class="btn-exportar"
                  >
                    <img src="assets/iconPdf.png" />PDF
                  </ion-button> -->
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
                <ion-col size="12" size-lg="3">
                  <ion-item [disabled]="trabajadores === undefined">
                    <ion-label>Cargo</ion-label>
                    <ion-select
                      (ionChange)="getTrabajadores()"
                      interface="popover"
                      formControlName="tipoTra"
                      class="myCustomSelect"
                    >
                      <ion-select-option value="">Todos</ion-select-option>
                      <ion-select-option
                        *ngFor="let item of prefiles"
                        value="{{item.detalle}}"
                        >{{item.detalle}}</ion-select-option
                      >
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
                <ion-col size="12" size-lg="3">
                  <ion-item>
                    <ion-label>Buscar</ion-label>
                    <ion-input
                      type="text"
                      [disabled]="trabajadores === undefined"
                      maxlength="50"
                      (ionChange)="getTrabajadores()"
                      formControlName="param"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-lg="2"></ion-col>
              </form>
            </ion-row>
          </ion-col>
          <ion-col size="12">
            <ion-row *ngIf="trabajadores !== undefined">
              <ion-col size="12"></ion-col>
              <ion-col size="12" class="center">
                <div class="containerTbl">
                  <table>
                    <thead>
                      <tr>
                        <th>DNI</th>
                        <th class="title-tra">Trabajador</th>
                        <th>Cargo</th>
                        <th *ngFor="let item3 of diasTabla">{{ item3 }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of trabajadores">
                        <td>{{ item.dni }}</td>
                        <td class="title-tra capitalizado">
                          {{ item.nombre }}
                        </td>
                        <td>{{ item.perfil }}</td>
                        <td class="dias" *ngFor="let item2 of diasTabla">
                          <div
                            *ngIf="item.dias.includes(item2) "
                            class="colorSuccess"
                          ></div>
                          <div
                            class="colorNone"
                            *ngIf="!item.dias.includes(item2) "
                          ></div>

                          <!-- <ion-checkbox
                            disabled=""
                            checked="{{ item.dias.includes(item2) }}"
                            color="success"
                          ></ion-checkbox> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
