.btn {
  margin: 0 auto;
}
.center {
  text-align: center;
}
.btn-exportar {
  margin: 0 auto;
}
ion-grid {
  margin: 0;
}
ion-col {
  padding-top: 0;
  padding-bottom: 0;
}
form {
  display: contents;
}
.content-tiny {
  padding: 4px;
}
.myCustomSelect {
  max-width: 100% !important;
}
.containerTbl {
  overflow-x: scroll;
  overflow-y: none;
  height: 50vh;
  --overflow: auto;
}
table {
  text-align: left;
  border-collapse: collapse;
  margin: auto;
  box-sizing: border-box;
  width: max-content;
}
th,
td {
  padding: 0 5px;
  border: 1px ridge var(--color-bordes);
}

th {
  text-align: center;
  font-weight: bold;
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
  color: var(--color-azul);
  text-transform: uppercase;
}
thead {
  border-bottom: solid 3px;
  position: sticky;
  position: -webkit-sticky;
  --position: sticky;
  --background: var(--ion-color-light) !important;
  background: var(--ion-color-light) !important;
  top: 0;
  z-index: 100;
}
.title-tra {
  width: 150px;
}
.dias {
  width: 40px;
  padding: 0;
}
ion-card-content {
  color: black;
}
.capitalizado {
  text-transform: capitalize;
}
.colorSuccess {
  min-height: 42px !important;
  width: 100%;
  background: var(--color-verde);
}
.colorNone {
  min-height: 42px !important;
  width: 100%;
  background: transparent;
}
@media (prefers-color-scheme: dark) {
  ion-card-content {
    color: white;
  }
}
ion-checkbox {
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .btn-exportar {
    width: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  #pdf {
    float: right;
  }
  .btn-buscar {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
