<ion-content>
  <div class="contenedor">
    <div class="banner">
      <img src="assets/fondo-web.png" alt="" />
    </div>
    <div class="login">
      <ion-card class="cartaLogin ion-no-border" color="Shade">
        <ion-card-header class="ion-no-padding">
          <img class="imgBrand" src="./assets/brand.png" />
          <img class="imgLogo" src="./assets/login.png" />
          <ion-card-title class="titleChange ion-text-center"
            >Cambio de contraseña</ion-card-title
          >
        </ion-card-header>
        <form [formGroup]="formularioLogin" (ngSubmit)="ingresar()">
          <ion-card-content>
            <ion-item class="ion-margin" shape="round">
              <ion-label position="floating">Contraseña Temporal</ion-label>
              <ion-input
                maxlength="16"
                formControlName="passwordTemp"
                [type]="hideTemp?'password':'text'"
              >
              </ion-input>
              <span
                slot="end"
                (click)="hideTemp = !hideTemp"
                [title]="!hideTemp ? 'Ocultar Contraseña':'Mostrar Contraseña'"
              >
                <ion-icon
                  class="ion-margin-top"
                  [name]="hideTemp?'eye':'eye-off'"
                ></ion-icon>
              </span>
              <ion-text
                *ngIf="formularioLogin.get('passwordTemp').touched && formularioLogin.controls.passwordTemp.errors?.required"
                color="danger"
                >Debe completar el formulario</ion-text
              >
            </ion-item>
            <ion-item class="ion-margin" shape="round">
              <ion-label position="floating">Nueva Contraseña</ion-label>
              <ion-input
                maxlength="16"
                formControlName="passwordNew"
                [type]="hideNew?'password':'text'"
              >
              </ion-input>
              <span
                slot="end"
                (click)="hideNew = !hideNew"
                [title]="!hideNew ? 'Ocultar Contraseña':'Mostrar Contraseña'"
              >
                <ion-icon
                  class="ion-margin-top"
                  [name]="hideNew?'eye':'eye-off'"
                ></ion-icon>
              </span>
              <ion-text
                *ngIf="formularioLogin.get('passwordNew').touched && formularioLogin.controls.passwordNew.errors?.required"
                color="danger"
                >Debe completar el formulario</ion-text
              >
            </ion-item>
            <ion-item class="ion-margin" shape="round">
              <ion-label position="floating">Repetir Contraseña</ion-label>
              <ion-input
                maxlength="16"
                formControlName="repeatPass"
                [type]="hideRepeat?'password':'text'"
              >
              </ion-input>
              <span
                slot="end"
                (click)="hideRepeat = !hideRepeat"
                [title]="!hideRepeat ? 'Ocultar Contraseña':'Mostrar Contraseña'"
              >
                <ion-icon
                  class="ion-margin-top"
                  [name]="hideRepeat?'eye':'eye-off'"
                ></ion-icon>
              </span>
              <ion-text
                *ngIf="formularioLogin.get('repeatPass').touched && formularioLogin.controls.repeatPass.errors?.required"
                color="danger"
                >Debe completar el formulario</ion-text
              >
            </ion-item>
            <ion-button class="btnLogin" expand="block" type="submit">
              <ion-icon name="log-in-outline"></ion-icon> Ingresar
            </ion-button>
            <br />
            <ion-button class="btnOut" expand="block" (click)="salir()">
              <ion-icon name="log-out-outline"></ion-icon> Salir
            </ion-button>
          </ion-card-content>
        </form>
      </ion-card>
    </div>
  </div>
</ion-content>
