/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Lato", sans-serif;
  --color-azul: #1d8dc7;
  --color-rojo: #a30000;
  --color-verde: #168b64;
  --color-bordes: rgb(175, 175, 175);
}
.botonCancelar{
  color: var(--color-azul)!important;
  --color: var(--color-azul)!important;
}
.botonDes{
  color: var(--ion-color-warning)!important;
  --color: var(--ion-color-warning)!important;
}
.botonHab{
  color: var(--color-verde)!important;
  --color: var(--color-verde)!important;
}
.botonEli{
  color: var(--ion-color-danger)!important;
  --color: var(--ion-color-danger)!important;
}
