<ion-content id="exportthis" *ngIf=" vista !== undefined ">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content class="content-tiny">
            <ion-row>
              <ion-col size="12" size-lg="4">
                <ion-item lines="none">
                  <ion-label>DIA: </ion-label>
                  <ion-input
                    type="text"
                    value="{{ vista.fechaReporte | date: 'dd/MM/yyyy hh:mm:ss' }}"
                    disabled=""
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-lg="3"></ion-col>
              <ion-col size="12" class="center" size-lg="5">
                <ion-button
                  color="tertiary"
                  fill="clear"
                  (click)="exportToPdf()"
                  color="danger"
                  [hidden]="returnShowButton()"
                  class="btn-exportar"
                >
                  <img src="assets/iconPdf.png" />PDF
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Datos Personales</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12" size-lg="4"><b>Nombre</b></ion-col>
              <ion-col size="12" size-lg="8">{{ vista.nombre }}</ion-col>
              <ion-col size="12" size-lg="4"><b>Apellido</b></ion-col>
              <ion-col size="12" size-lg="8">{{ vista.apellido }}</ion-col>
              <ion-col size="12" size-lg="4"><b>DNI</b></ion-col>
              <ion-col size="12" size-lg="8">{{ vista.dni }}</ion-col>
              <ion-col size="12" size-lg="4"><b>Telefono</b></ion-col>
              <ion-col size="12" size-lg="8">{{ vista.telefono }}</ion-col>
              <ion-col size="12" size-lg="4"><b>Correo</b></ion-col>
              <ion-col size="12" size-lg="8"
                >{{ vista.correo || 'No registra' }}</ion-col
              >
              <ion-col size="12" size-lg="4"><b>Direccion</b></ion-col>
              <ion-col size="12" size-lg="8"
                >{{ vista.direccion || 'No registra' }}</ion-col
              >
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="1"></ion-col>

      <ion-col size="12" size-lg="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Sintomas</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of vista.sintomas">
                <ion-label class="label">{{item}} </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6" *ngIf="vista.signos!==null">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Signos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let item of vista.signos">
                <ion-label class="label">{{item}} </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="1" *ngIf="vista.signos!==null"></ion-col>
      <ion-col size="12" size-lg="5" *ngIf="vista.signos !== null">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="center">Datos Covid</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12" size-lg="4">Temperatura</ion-col>
              <ion-col size="12" size-lg="8">{{ vista.temperatura }}</ion-col>
              <ion-col size="12">Comentario</ion-col>
              <ion-col size="12">{{ vista.comentario }}</ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-lg="6" *ngIf="vista.signos === null">
        <ion-card>
          <ion-card-content class="content-tiny">
            <ion-row>
              <ion-col size="12" size-lg="6">
                <ion-item lines="none">
                  <ion-label class="label"
                    >En la última semana ¿Ha tenido contacto con caso sospechoso
                    de Covid 19?
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label class="lever" color="success">SI</ion-label>
                  <ion-checkbox
                    color="success"
                    disabled=""
                    checked="{{ vista.sospechozo }}"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label class="lever" color="danger">NO</ion-label>
                  <ion-checkbox
                    disabled=""
                    checked="{{ !vista.sospechozo }}"
                    color="danger"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-lg="6">
                <ion-item lines="none">
                  <ion-label class="label"
                    >En la última semana ¿Ha tenido contacto con caso confirmado
                    de Covid 19?
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label color="success">SI</ion-label>
                  <ion-checkbox
                    color="success"
                    disabled=""
                    checked="{{ vista.confirmado }}"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label color="danger">NO</ion-label>
                  <ion-checkbox
                    disabled=""
                    checked="{{ !vista.confirmado }}"
                    color="danger"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col size="12" size-lg="6">
                <ion-item lines="none">
                  <ion-label class="label"
                    >En la última semana ¿Ha dado positivo para Covid
                    19?</ion-label
                  >
                </ion-item>
              </ion-col>

              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label color="success">SI</ion-label>
                  <ion-checkbox
                    color="success"
                    disabled=""
                    checked="{{ vista.positivo }}"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col size="12" size-lg="3">
                <ion-item lines="none">
                  <ion-label color="danger">NO</ion-label>
                  <ion-checkbox
                    disabled=""
                    checked="{{ !vista.positivo }}"
                    color="danger"
                  ></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="1" *ngIf="vista.signos === null"></ion-col>
      <ion-col size="12" size-lg="5" *ngIf="vista.signos === null">
        <ion-card>
          <ion-item lines="none">
            <ion-label class="dosisCant"
              >Dosis de vacunas contra Covid 19</ion-label
            >
            <p slot="end" style="margin-right: 15px">{{vista.cantDosis}}</p>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
