.btn {
  margin: 0 auto;
}
.center {
  text-align: center;
}

.btn-exportar {
  float: right;
}
ion-grid {
  margin: 0;
}
ion-col {
  padding-top: 0;
  padding-bottom: 0;
}
.content-tiny {
  padding: 4px;
}
.label {
  white-space: normal;
}

.item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h {
  opacity: 1 !important;
}

ion-card-content {
  color: black;
}
.dosisCant {
  white-space: normal;
}

@media (prefers-color-scheme: dark) {
  ion-card-content {
    color: white;
  }
}
@media screen and (max-width: 991px) {
  .btn-exportar {
    float: inherit;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
